snippet log "console.log(...)" b
console.log ${0:${VISUAL}}
endsnippet

snippet s "$scope"
$scope.$0
endsnippet

snippet vcomponent "Component Vue"
Vue.component('component', {
	props: []
	template: ''
	data: ->
	watch:
	methods:
})
endsnippet
