snippet nginclude "ng-include"
<div ng-include="$1"></div>
endsnippet

snippet uiview "ui-view"
<div ui-view></div>
endsnippet

snippet ngc "ng-click" i
ng-click="$0"
endsnippet

snippet ngm "ng-model" i
ng-model="$0"
endsnippet

snippet ngs "ng-show" i
ng-show="$0"
endsnippet
