snippet def "wrap funciont definition" b
def $1
	${0:${VISUAL}}
end
endsnippet

snippet render "render method" b
render $1, locals: { $2 }
endsnippet

snippet trans "AR transaction" b
ActiveRecord::Base.transaction do
	${0:${VISUAL}}
end
endsnippet
