snippet l
local $0
endsnippet

snippet f
local function $1()
	$0
end
endsnippet

snippet for
for k,v in pairs($1) do
	$0
end
endsnippet

snippet fori
for i, v in ipairs($1) do
	$0
end
endsnippet

snippet mapi
for i, v in ipairs($1) do
	$1[i] = v$0
end
endsnippet

snippet map
for k, v in pairs($1) do
	$1[i] = v$0
end
endsnippet

snippet m
$1 = $1$0
endsnippet
