snippet imedia
@include media("<tablet") {
	$0
}
endsnippet

snippet media
@media only screen and (max-width: $1) {
	$0
}
endsnippet

snippet children
display: flex;
align-items: center;
padding: 10px 15px;

& >:nth-child(1) {
}

& >:nth-child(2) {
}
endsnippet
